body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(49, 98, 191);
  background-image: url(../grid.jpg);
}

#title {
	text-align: center;
	padding-bottom: 50px;
}

#response {
	padding-top: 25px;
	padding-left: 10px;
	background-color: rgba(255,255,255,0.7);
    margin-top: 38px;
    padding-bottom: 15px;
    display: none;
}

#wordResult {
	padding-bottom: 10px;
    font-weight: bold;
}
#clock {
  position: absolute;
  background-image: url(../clock.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  border-radius: 1000px 1000px;
  border-color: blue;
  border-width: 5px;
  border-style: solid;
  width: 700px;
  height: 700px;
  opacity: 0.3;
}
@media(min-width: 700px)  {
	#clock {
		top: 5px;
    	left: -140px;
	}
}

@media(max-width: 699px)  {
	#clock {
		top: 70px;
    	left: -265px;
    	width: 564px;
  		height: 555px;
	}
}

#secondhand {
  background-image: url(../hand.png);
  background-repeat:no-repeat;
  background-size: contain;
  background-position: left bottom;
  position: relative;
  width: 50%;
  height: 50%;
  top: 4%;
  left: 45%;
  animation-name: countdown;
  animation-delay: 2s;
  animation-duration:30s;
  animation-timing-function:linear;
  animation-iteration-count: infinite;
}

@keyframes countdown {
  from {
    transform: rotate(0deg);
    transform-origin: 8% 90%;
  }
  to {
    transform: rotate(180deg);
    transform-origin: 8% 90%;
  }
}

a {
  color: #00B7FF;
}

.error {
	font-weight: bold;
	text-transform: capitalize;
}
